<!doctype html>
<html ng-app="myApp">
  <head>
    <title>Student Attendance Dashboar</title>
    <link rel="stylesheet" href="styles/index.css" />
  </head>
  <body ng-controller="AppCtrl" ng-init="loadStudentInfo()">

<h1> Student Attendance Dashboard </h1>

List of Chronically Absent Students:

<div class="threshold">
  Modify Threshold:
<div class="absence-type">
   <select>
      <option ng-click="checkAttendance('attendance8thGrade')">Absence 8th Grade</option>
      <option ng-click="checkAttendance('attendanceSy1213')">Absence Sy1213</option>
      <option ng-click="checkAttendance('attendanceSy1314')">Absence Sy1314</option>
      <option ng-click="checkAttendance('attendanceSy1415')">Absence Sy1415</option>
      <option ng-click="checkAttendance('attendanceYtd')">Absence Ytd</option>
      <option ng-click="checkAttendance('attendanceYtdFilter')">Absence YtdFilter</option>
      <option ng-click="checkAttendance('percentDaysLateSy1415')">percentDaysLateSy1415</option>
      <option ng-click="checkAttendance('percentDaysLateYtd')">percentDaysLateYtd</option>
      <option ng-click="checkAttendance('numberOfDaysAbsentLast10Days')">numberOfDaysAbsentLast10Days</option>
      <option ng-click="checkAttendance('numberOfDaysAbsentLast5Days')">numberOfDaysAbsentLast5Days</option>
   </select>

  <input type="radio" ng-model="value" value="Absence 8th Grade" ng-change="checkAttendance('attendance8thGrade')">
  <input type="radio" ng-model="value" value="Absence Sy1213" ng-change="checkAttendance('attendanceSy1213')">
  <input type="radio" ng-model="value" value="Absence Sy1314" ng-change="checkAttendance('attendanceSy1314')">
  <input type="radio" ng-model="value" value="Absence Sy1415" ng-change="checkAttendance('attendanceSy1415')">
  <input type="radio" ng-model="value" value="foo" ng-change='newValue(value)'>
  <input type="radio" ng-model="value" value="foo" ng-change='newValue(value)'>

</div>

<!-- <div ng-click="checkAttendance('attendance8thGrade')">Absence 8th Grade</div> -->


All Students:
<!--
<table id="table-all-students" ng-hide="'byAbs' == true" >
    <tr ng-repeat="student in students">
        <td>{{ student.studentId }}</td>
        <td>{{ student.studentName }}</td>
        <td>{{ student.cohort }}</td>
        <td>{{ student.schoolName }}</td>
        <td>{{ student.gender }}</td>
        <td>{{ student.studentEmail }}</td>
        <td>{{ student.ethnicity }}</td>
    </tr>
      <tr>
        <td>{{ student.attendance8thGrade }}</td>
        <td>{{ student.attendanceSy1213 }}</td>
        <td>{{ student.attendanceSy1314 }}</td>
        <td>{{ student.attendanceSy1415 }}</td>
        <td>{{ student.percentDaysLateSy1415 }}</td>
        <td>{{ student.attendanceYtd }}</td>
        <td>{{ student.percentDaysLateYtd }}</td>
        <td>{{ student.numberOfDaysAbsentLast10Days }}</td>
        <td>{{ student.numberOfDaysAbsentLast5Days }}</td>
        <td>{{ student.attendanceYtdFilter }}</td>
    </tr>
</table> -->

Absence Type:
<!-- Absence Type: -->

<table id="table-by-absence">
    <tr ng-repeat="student in students">
        <td>{{ student.studentId }}</td>
        <td>{{ student.studentName }}</td>
        <td>{{ student.cohort }}</td>
        <td>{{ student.schoolName }}</td>
        <td>{{ student.gender }}</td>
        <td>{{ student.studentEmail }}</td>
        <td>{{ student.ethnicity }}</td>
    </tr>
    <tr>
        <td>{{ student.attendance8thGrade }}</td>
        <td>{{ student.attendanceSy1213 }}</td>
        <td>{{ student.attendanceSy1314 }}</td>
        <td>{{ student.attendanceSy1415 }}</td>
        <td>{{ student.percentDaysLateSy1415 }}</td>
        <td>{{ student.attendanceYtd }}</td>
        <td>{{ student.percentDaysLateYtd }}</td>
        <td>{{ student.numberOfDaysAbsentLast10Days }}</td>
        <td>{{ student.numberOfDaysAbsentLast5Days }}</td>
        <td>{{ student.attendanceYtdFilter }}</td>
    </tr>
</table>

  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/app-ctrl.js"></script>

  </body>
</html>
