<!doctype html>
<html ng-app="myApp">
  <head>
    <!-- <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <title>Student Attendance Dashboar</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> -->
    <link rel="stylesheet" href="styles/index.css" />
  </head>
  <body ng-controller="AppCtrl">

<h1> Student Attendance Dashboard </h1>

<div class="absent-list">
  List of Chronically Absent Students: <br>
</div>

<div class="threshold">
  <p> Modify Threshold: </p>
</div>

<p> Click <a ng-click="loadStudentInfo()">here</a> to load data.</p>
<table>
<!--     <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr> -->
<!--     <tr ng-repeat="person in people">
        <td>{{person.id}}</td>
        <td>{{person.firstName}}</td>
        <td>{{person.lastName}}</td>
    </tr> -->


        <tr ng-repeat="student in students">

       <td>{{ student.studentId }}</td>
        <td>{{ student.studentName }}</td>
        <td>{{ student.cohort }}</td>
        <td>{{ student.status }}</td>
        <td>{{ student.dischargeCode }}</td>
        <td>{{ student.code }}</td>
        <td>{{ student.officialClass }}</td>
        <td>{{ student.dbn }}</td>
        <td>{{ student.schoolName }}</td>
        <td>{{ student.studentEmail }}</td>
        <td>{{ student.admitDate }}</td>
        <td>{{ student.gender }}</td>
        <td>{{ student.ethnicity }}</td>

Attendance:
        <td>{{ student.attendance8thGrade }}</td>
        <td>{{ student.attendanceSy1213 }}</td>
        <td>{{ student.attendanceSy1314 }}</td>
        <td>{{ student.attendanceSy1415 }}</td>
        <td>{{ student.percentDaysLateSy1415 }}</td>
        <td>{{ student.attendanceYtd }}</td>
        <td>{{ student.percentDaysLateYtd }}</td>
        <td>{{ student.numberOfDaysAbsentLast10Days }}</td>
        <td>{{ student.numberOfDaysAbsentLast5Days }}</td>
        <td>{{ student.attendanceYtdFilter }}</td>
    </tr>
</table>

    <script src="node_modules/angular/angular.js"></script>
     <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/app-ctrl.js"></script>
  </body>
</html>
