<!doctype html>
<html ng-app="myApp">
  <head>
    <title>Student Attendance Dashboar</title>
    <link rel="stylesheet" href="styles/index.css" />
  </head>
  <body ng-controller="AppCtrl" ng-init="loadStudentInfo()">

<h1> Student Attendance Dashboard </h1>


  <h3> Filter Student Absence By: </h3>


  <div class="threshold">

  <div class="threshold-labels"> School Year (SY): </div>
  <div class="threshold-radios">
  <input type="radio" ng-model="value" value="Absence Sy1213" ng-change="checkAttendance('attendanceSy1213')"> 1213

  <input type="radio" ng-model="value" value="Absence Sy1314" ng-change="checkAttendance('attendanceSy1314')"> 1314

  <input type="radio" ng-model="value" value="Absence Sy1415" ng-change="checkAttendance('attendanceSy1415')"> 1415

  <input type="radio" ng-model="value" value="percentDaysLateSy1415" ng-change="checkAttendance('attendanceSy1415')" > % Days late 1415 <br>
  </div>

  <div class="threshold-labels"> Year-to-date (Ytd): </div>
  <div class="threshold-radios">
  <input type="radio" ng-model="value" value="Absence Ytd" ng-change="checkAttendance('attendanceYtd')"> Ytd

  <input type="radio" ng-model="value" value="Absence YtdFilter" ng-change="checkAttendance('attendanceYtdFilter')"> YtdFilter

  <input type="radio" ng-model="value" value="percentDaysLateYtd" ng-change="checkAttendance('percentDaysLateYtd')"> % Days Late Ytd <br>
  </div>

  <div class="threshold-labels"> % Days Late: </div>
  <div class="threshold-radios">
  <input type="radio" ng-model="value" value="percentDaysLateSy1415" ng-change="checkAttendance('attendanceSy1415')" > School Year:1415

  <input type="radio" ng-model="value" value="percentDaysLateYtd" ng-change="checkAttendance('percentDaysLateYtd')"> Year-to-date <br>
  </div>

    <div class="threshold-labels"> Number Of Days Absent: </div>
    <div class="threshold-radios">
    <input type="radio" ng-model="value" value="numberOfDaysAbsentLast5Days" ng-change="checkAttendance('numberOfDaysAbsentLast5Days')"> Last 5 Days

    <input type="radio" ng-model="value" value="numberOfDaysAbsentLast10Days" ng-change="checkAttendance('numberOfDaysAbsentLast10Days')"> Last 10 Days
    </div>

</div>

<a ui-sref="all">Click here to view all student info</a>

<table id="table-by-absence">

    <tr ng-repeat="stud in absentStudents">
        <td>{{ stud.studentName }}</td>
        <td>{{ stud.gender }}</td>
        <td>{{ stud.schoolName }}</td>
        <td>{{ stud.cohort }}</td>
        <td>{{ stud.studentEmail }}</td>
        <td>{{ stud.ethnicity }}</td>
    </tr>
</table>


  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/app-ctrl.js"></script>

  </body>
</html>
